.icon
{
    display: inline-block;
    width: 25px;
    height: 25px;
}

.gmap
{
    background: url(img/icon/gmap.png) no-repeat;
}

.tree-ul
{
    padding-left: 10px;
}

.tree-ul-li
{
    margin-left: 20px;
}

.tree-ul-li > div
{
    margin-bottom: 2px;
}
.tree-ul-li .info
{
    padding-left: 10px;
    padding-top: 3px;
    min-height: 35px;
    background: white;
    line-height: 35px;
    display: inline-flex;
    padding-right: 25px;
    border-radius: 10px;
    position: relative;
}

.tree-ul-li .tree-element::after
{
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1;
    background: rgba(255,255,230,0.9);
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 11px;
    padding: 8px 8px;
    border-radius: 10px;
    border: 1px solid #333;
}

.tree-ul-li .tree-element::before
{
    display: inline-block;
    content: ' ';
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 5px;
    position: relative;
}


.tree-ul-li .tree-building::before
{
    background: white url(/img/icon/building.png) no-repeat;
}

.tree-ul-li .tree-building:hover::after {
    content: "Здание"; /* Выводим текст */

}

.tree-ul-li .tree-service::before
{
    background: white url(/img/icon/service.png) no-repeat;
}

.tree-ul-li .tree-service:hover::after {
    content: "Сервис"; /* Выводим текст */
}

.tree-ul-li .tree-tariff::before
{
    background: white url(/img/icon/tariff.png) no-repeat;
}
.tree-ul-li .tree-tariff:hover::after {
    content: "Тариф";
}

.tree-ul-li .tree-tsp::before
{
    background: white url(/img/icon/tsp.png) no-repeat;
}
.tree-ul-li .tree-tsp:hover::after {
    content: "TSP";
}

.tree-ul-li .tree-carrier::before
{
    background: white url(/img/icon/carrier.png) no-repeat;
}
.tree-ul-li .tree-carrier:hover::after {
    content: "Проводник";
}

.tree-ul-li .tree-floor::before
{
    background: white url(/img/icon/floor.png) no-repeat;
}
.tree-ul-li .tree-floor:hover::after {
    content: "Этаж";
}

.tree-ul-li .tree-stock::before
{
    background: white url(/img/icon/stock.png) no-repeat;
}
.tree-ul-li .tree-stock:hover::after {
    content: "Хранилище";
}

.tree-ul-li .tree-room::before
{
    background: white url(/img/icon/room.png) no-repeat;
}
.tree-ul-li .tree-room:hover::after {
    content: "Комната";
}

.tree-ul-li .tree-customer::before
{
    background: white url(/img/icon/customer.png) no-repeat;
}
.tree-ul-li .tree-customer:hover::after {
    content: "Заказчик";
}

.tree-ul-li .tree-billing::before
{
    background: white url(/img/icon/billing.png) no-repeat;
}
.tree-ul-li .tree-billing:hover::after {
    content: "Операция на счёте";
}

.tree-ul-li .tree-stand::before
{
    background: white url(/img/icon/stand.png) no-repeat;
}
.tree-ul-li .tree-stand:hover::after {
    content: "Стойка";
}

.tree-ul-li .tree-switch::before
{
    background: white url(/img/icon/switch.png) no-repeat;
}
.tree-ul-li .tree-switch:hover::after {
    content: "Коммутатор";
}

.tree-ul-li .tree-router::before
{
    background: white url(/img/icon/router.png) no-repeat;
}
.tree-ul-li .tree-router:hover::after {
    content: "Маршрутизатор";
}

.tree-ul-li .tree-port::before
{
    background: white url(/img/icon/port.png) no-repeat;
}
.tree-ul-li .tree-port:hover::after {
    content: "Порт";
}

.tree-ul-li .tree-order::before
{
    background: white url(/img/icon/order.png) no-repeat;
}
.tree-ul-li .tree-order:hover::after {
    content: "Заказ";
}

.tree-ul-li .tree-csi::before
{
    background: white url(/img/icon/csi.png) no-repeat;
}
.tree-ul-li .tree-csi:hover::after {
    content: "Подпись на услуги";
}

.tree-port .port-enable
{
    background: white url(/img/icon/on.png) no-repeat;
}
.tree-port .port-disable {
    background: white url(/img/icon/off.png) no-repeat;
}

.button-open {
    display: inline-block;
    height: 20px;
    margin-top: 7px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
}
.button-open:hover
{
    background: none;
    color: greenyellow;;
}

.button-visible
{
    border: none;
    width: 51px;
    height: 20px;
    display: inline-block;
    margin-top: 5px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background: none;
    background-color: hotpink;
}
.button-visible:hover
{
    background-color: #00e6ff;
}

.port-goto {

}

.labelCustomer {
    display: inline-block;
    width: 100px;
}